* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}

.inactive {
    display: none;
}

.bg-dark{
    background: #0F0F0F;
}

.bg-white{
    background-color: #0F0F0F;
    border: 1px solid white;
}

.big-bold-white {
    font-weight: 600;
    color: white;
    font-size: 3rem;
}

.jumbo-info .big-bold-white{
     text-transform: uppercase ;
}

.bold-white {
    font-weight: 400;
    color: white;
    font-size: 1rem;
    text-overflow: ellipsis;
}

.grey{
    color: grey;
}

.border-left{
    border-left: 1px solid white;
}


body {
    background: #141414;
    min-height: 100vh;
}

.container {
    width: 1570px;
    height: 100%;
    margin: 0 auto;
}

.navbar{
    height: 70px;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0F0F0F;
}

.navbar img {
    width: 11%;
}

.inputSearch{
    border:none;
    background-color: #0F0F0F;
    color: white;
}

.bar-container {
    display:flex;
    padding: 10px;
    
}

.bar-container i{
    color: white;
}

.jumbotron {
    height: 800px;
    padding: 0 10vw;
    display: flex;
    justify-content: center;
    background-color: #0F0F0F;
}

.jumbotron img {
    height: 100%;
}

.jumbo-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10vw 10vw 10vw 0;
}

.button-container button {
    padding : 20px 50px;
    font-size: 1.6rem;
    font-weight: 400 ;
    border-radius: 10px;
    margin: 0 20px;
    border: none;
}

.button-container .play {
    background-color: white;
    color: black ;
}

.button-container .play:hover {
    background-color: #C0C0C0 ;
}

.button-container .more-info {
   background-color:  #686868;
   opacity: 1;
   color: white;
}

.button-container .more-info:hover {
    opacity: 0.5;
}

.top-rated {
    height: 400px;
    position: relative;
}

.top-rated-container{
    display: flex;
    overflow-x: scroll;
    height: 100%;
}

.top-rated-container::-webkit-scrollbar {
    display: none;
}

.top-rated li {
    margin: 0 2px;
    width: 265px;
}

.top-rated li img {
    height: 100%;
}

[class*="chevron-"]{
    height: 100%;
    width: 50px;
    opacity: 0;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.2s ease-in;
}

.top-rated:hover [class*="chevron-"]{
    opacity: 0.7;
}

.top-rated .title {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(10%, -100%);
}

.top-rated .map{
    width: 10vw;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-25%, -150%);
}

.top-rated .map .line-style {
    
    /* background-color: aqua; */
    height: 3px;
    width: 100%;
    margin: 1px;
}

.operating{
    background-color:#AAAAAA;
}

.idle{
    background-color: #4D4D4D ;
}

.chevron-left {
    position: absolute;
    top: 0;
}

.chevron-right {
    position: absolute;
    top: 0;
    right: 0;
}

.cards-container {
    width:100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px 0;
}

.card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-basis: 342px;
    margin: 10px;
    height: 513px;
    background: rgb(46, 58, 70);
    /* text-align: center; */
    position: relative;
}

.card .poster{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.card .info {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    visibility: hidden;
    background-color: rgb(46, 58, 70);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}


.card:hover .info{
    visibility: visible;
}

.card .poster img {
    width: 100%;
    min-height: 100%;
}

.card .info img {
    width: 10%;
    align-self: center;
}

.card .info .titles {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
}


.card > .info  h3 {
    
    color: white;
    font-size: 1rem;
    font-weight: 200;
    align-self: flex-start;
}


.card li.vote {
    color: grey;
    list-style: none;
}

.card ul {
    display: flex;
    justify-content: center;
    align-items: center;
}